@charset "UTF-8";

html, body,
article, section, nav, aside,
h1, h2, h3, h4, h5, h6,
header, footer, address,
p, pre, blockquote,
ol, ul, li, dl, dt, dd,
figure, figcaption,
div, main,
a,
em, cite, dfn, var, i,
strong, b,
code, samp, kbd, data, time,
small,
s, del,
q, 
abbr, span,
sub, sup,
u, ins,
mark,
ruby, rb, rt, rtc, rp,
bdi,
bdo,  wbr,
img, iframe, embed, object, video, audio,
table, caption, colgroup, col, tbody, thead, tfoot, tr, td, th,
template, canvas,
form, legend, fieldset, input, label, button, select, textarea, optgroup,
/* html 5.1 */
picture,
details, summary, menu, menuitem, dialog{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight:normal;
	font-family:inherit;
	vertical-align:baseline;
	background:transparent;
}
html{
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
}
article, section, nav, aside,
header, footer, main,
figure, figcaption,
/* html 5.1 */
details, menu, summary{
	display:block;
}
audio, canvas, meter, progress, video{
	display:inline-block;
	vertical-align:baseline;
}
ul, ol{
	list-style:none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content: none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
th, td{
	padding:0;
}
input, label, button, select, textarea, optgroup{
	font-size:13px;
	color:inherit;
	vertical-align:middle;
	white-space:normal;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	display:inline-block;
	line-height:normal;
}
input, textarea{
	box-sizing:content-box;
}
button[disabled],
input[disabled]{
	cursor:default;
}
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select{
	box-sizing:border-box;
}
button,
select{
	text-transform:none;
}
input[type=checkbox],
input[type=radio]{
	width:13px;
	height:13px;
	padding:0;
}
input[type=search]{
	-webkit-appearance:textfield;
	-moz-appearance:textfield;
    appearance:textfield;
	box-sizing:content-box;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button{
	-webkit-appearance:none;
}
button,
input[type="reset"],
input[type="button"],
input[type="submit"]{
	overflow:visible;
	width:auto;
	-webkit-appearance:button;
	-moz-appearance:button;
    appearance:button;
	cursor:pointer;
}
input[type=file],
label{
	cursor:pointer;
}
::-webkit-file-upload-button{	
	padding:0;
	border:0;
	background:transparent;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
	height:auto;
}
input:focus{
	outline:0;
}
textarea{
	overflow:auto;
}
optgroup{
	font-weight:bold;
}
hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}
abbr[title], dfn[title]{
    border-bottom:1px dotted;
    cursor:help;
}
del{
    text-decoration:line-through;
}
a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:active,
a:hover{
	outline:0;
}
b,
strong{
	font-weight:bold;
}
dfn{
	font-style:italic;
}
mark, ins{
    background-color:#ff0;
    color:#000; 
}
ins{
    text-decoration:none;
}
small{
	font-size:80%;
}
sub,
sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{
	top:-0.5em;
}
sub{
	bottom:-0.25em;
}
audio:not([controls]){
	display:none;
	height:0;
}
svg:not(:root){
	overflow:hidden;
}
figure{
	margin:1em 40px;
}
code,
kbd,
pre,
samp{
	font-family:monospace, monospace;
	font-size:1em;
}
pre{
	overflow:auto;
}
/*
-설정을 못하거나 할 필요가 없는 요소들-
param, source, track, map, area,
datalist, br, option, keygen, output,
script, noscript, head, title, base, link, meta, style,
input[type="hidden"], 
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="color"],
input[type="file"],
input[type="image"],
--html 5.1--
input[type="datetime"],
input[type="month"],
input[type="week"],
*/