@charset 'UTF-8';

/* nixgon */
@font-face{
	font-family:'nixgon';
	src:url('../nixgon/nixgon_b.eot');
	src:url('../nixgon/nixgon_b.eot?#iefix') format('embedded-opentype'),
		url('../nixgon/nixgon_b.woff2') format('woff2'),
		url('../nixgon/nixgon_b.woff') format('woff'),
		url('../nixgon/nixgon_b.ttf') format('truetype'),
		url('../nixgon/nixgon_b.otf') format('opentype'),
		url('../nixgon/nixgon_b.svg#nixgonblod') format('svg');
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:'nixgon';
	src:url('../nixgon/nixgon_m.eot');
	src:url('../nixgon/nixgon_m.eot?#iefix') format('embedded-opentype'),
		url('../nixgon/nixgon_m.woff2') format('woff2'),
		url('../nixgon/nixgon_m.woff') format('woff'),
		url('../nixgon/nixgon_m.ttf') format('truetype'),
		url('../nixgon/nixgon_m.otf') format('opentype'),
		url('../nixgon/nixgon_m.svg#nixgonregular') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'nixgon';
	src:url('../nixgon/nixgon_l.eot');
	src:url('../nixgon/nixgon_l.eot?#iefix') format('embedded-opentype'),
		url('../nixgon/nixgon_l.woff2') format('woff2'),
		url('../nixgon/nixgon_l.woff') format('woff'),
		url('../nixgon/nixgon_l.ttf') format('truetype'),
		url('../nixgon/nixgon_l.otf') format('opentype'),
		url('../nixgon/nixgon_l.svg#nixgonblod') format('svg');
	font-weight:100;
	font-style:normal;
}

/* NotoSans */
@font-face{
	font-family:'NotoSans';
	src:url('../NotoSans/NotoSans-Bold.eot');
	src:url('../NotoSans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../NotoSans/NotoSans-Bold.woff2') format('woff2'),
		url('../NotoSans/NotoSans-Bold.woff') format('woff'),
		url('../NotoSans/NotoSans-Bold.ttf') format('truetype'),
		url('../NotoSans/NotoSans-Bold.otf') format('opentype'),
		url('../NotoSans/NotoSans-Bold.svg#NotoSansblod') format('svg');
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:'NotoSans';
	src:url('../NotoSans/NotoSans-Medium.eot');
	src:url('../NotoSans/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../NotoSans/NotoSans-Medium.woff2') format('woff2'),
		url('../NotoSans/NotoSans-Medium.woff') format('woff'),
		url('../NotoSans/NotoSans-Medium.ttf') format('truetype'),
		url('../NotoSans/NotoSans-Medium.otf') format('opentype'),
		url('../NotoSans/NotoSans-Medium.svg#NotoSansmedium') format('svg');
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:'NotoSans';
	src:url('../NotoSans/NotoSans-Regular.eot');
	src:url('../NotoSans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../NotoSans/NotoSans-Regular.woff2') format('woff2'),
		url('../NotoSans/NotoSans-Regular.woff') format('woff'),
		url('../NotoSans/NotoSans-Regular.ttf') format('truetype'),
		url('../NotoSans/NotoSans-Regular.otf') format('opentype'),
		url('../NotoSans/NotoSans-Regular.svg#NotoSansregular') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'NotoSans';
	src:url('../NotoSans/NotoSans-Light.eot');
	src:url('../NotoSans/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../NotoSans/NotoSans-Light.woff2') format('woff2'),
		url('../NotoSans/NotoSans-Light.woff') format('woff'),
		url('../NotoSans/NotoSans-Light.ttf') format('truetype'),
		url('../NotoSans/NotoSans-Light.otf') format('opentype'),
		url('../NotoSans/NotoSans-Light.svg#NotoSanslight') format('svg');
	font-weight:100;
	font-style:normal;
}

/* NanumBarunGothic */
@font-face{
	font-family:'NanumBarunGothic';
	src:url('../NanumBarunGothic/NanumBarunGothicBold.eot');
	src:url('../NanumBarunGothic/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
		url('../NanumBarunGothic/NanumBarunGothicBold.woff2') format('woff2'),
		url('../NanumBarunGothic/NanumBarunGothicBold.woff') format('woff'),
		url('../NanumBarunGothic/NanumBarunGothicBold.ttf') format('truetype'),
		url('../NanumBarunGothic/NanumBarunGothicBold.otf') format('opentype'),
		url('../NanumBarunGothic/NanumBarunGothicBold.svg#NanumBarunGothicbold') format('svg');
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:'NanumBarunGothic';
	src:url('../NanumBarunGothic/NanumBarunGothic.eot');
	src:url('../NanumBarunGothic/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
		url('../NanumBarunGothic/NanumBarunGothic.woff2') format('woff2'),
		url('../NanumBarunGothic/NanumBarunGothic.woff') format('woff'),
		url('../NanumBarunGothic/NanumBarunGothic.ttf') format('truetype'),
		url('../NanumBarunGothic/NanumBarunGothic.otf') format('opentype'),
		url('../NanumBarunGothic/NanumBarunGothic.svg#NanumBarunGothicregular') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'NanumBarunGothic';
	src:url('../NanumBarunGothic/NanumBarunGothicLight.eot');
	src:url('../NanumBarunGothic/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
		url('../NanumBarunGothic/NanumBarunGothicLight.woff2') format('woff2'),
		url('../NanumBarunGothic/NanumBarunGothicLight.woff') format('woff'),
		url('../NanumBarunGothic/NanumBarunGothicLight.ttf') format('truetype'),
		url('../NanumBarunGothic/NanumBarunGothicLight.otf') format('opentype'),
		url('../NanumBarunGothic/NanumBarunGothicLight.svg#NanumBarunGothiclight') format('svg');
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:'NanumBarunGothic';
	src:url('../NanumBarunGothic/NanumBarunGothicUltraLight.eot');
	src:url('../NanumBarunGothic/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
		url('../NanumBarunGothic/NanumBarunGothicUltraLight.woff2') format('woff2'),
		url('../NanumBarunGothic/NanumBarunGothicUltraLight.woff') format('woff'),
		url('../NanumBarunGothic/NanumBarunGothicUltraLight.ttf') format('truetype'),
		url('../NanumBarunGothic/NanumBarunGothicUltraLight.otf') format('opentype'),
		url('../NanumBarunGothic/NanumBarunGothicUltraLight.svg#NanumBarunGothicultralight') format('svg');
	font-weight:100;
	font-style:normal;
}